.mystocks-wrapper {
  width: 300px;
  margin: 20px;
}

.mystocks-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.stock-line {
  display: grid;
  font-size: 18px;
  grid-template-columns: 2fr 1fr;
  margin: 18px 0;
}

.stock-line .value {
  margin-left: auto;
}

.stock-separator {
  background-color: white;
  border: 1.5px solid black;
  border-radius: 50px;
}

.mystocks-wrapper .stock-line .red {
  color: red;
}

.mystocks-wrapper .stock-line .green {
  color: green;
}

.mystocks-wrapper .stock-line .grey {
  color: grey;
}
