.portfolio-container-wrapper {
  padding-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-container-wrapper .portfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.portfolio-title {
  font-size: 24px;
  font-weight: bold;
}

.stocks-and-transactions-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.divider {
  width: 3px;
  background-color: black;
}

@media screen and (max-width: 700px){
  .divider {
    display: none;
  }
}

.loading-wrapper {
  width: 300px;
  margin: 20px;
}
