.navbar-wrapper {
  display: flex;
  background-color: gray;
  padding: 10px;
  align-items: center;
}

.navbar-wrapper > div {
  margin: 0 10px;
}

.navbar-wrapper a {
  text-decoration: none;
  color: black;
}

.navbar-wrapper a:hover {
  color: lightgray;
}

.navbar-wrapper .title {
  font-size: 24px;
}

.navbar-wrapper .title .title-A {
  font-weight: bold
}

.navbar-wrapper .title .title-A::after {
  content: 'Stock'
}

.navbar-wrapper .title .title-B::after {
  content: 'Portfolio'
}

@media screen and (max-width: 500px){
  .navbar-wrapper .title .title-A::after {
    content: 'S'
  }

  .navbar-wrapper .title .title-B::after {
    content: 'P'
  }
}

.navbar-wrapper .logout {
  margin-left: auto;
  margin-right: 20px;
}
